.restaurants-card {
  /*max-width: 600px;*/
}
.restaurants-stars-span {

}
.restaurants-stars-span svg {
  padding-bottom: 2px;
}
.pointer-none {
  pointer-events: none;
}
.restaurant-card-img {
  max-height: 5em;
}
.restaurants-review-name {
  font-size: 12px;
}
.restaurants-review-avatar {
    max-height: 100px;
    max-width: 100px;
}
.restaurants-main {
    min-height: 100vh;
}
.restaurants-review-username {
    max-width: 100px;
}